<h1>Books</h1>
  <p>title</p>
  <span>
    <%= link_to @book.title, book_path(@book.id) %>
    </span>
  <p>opinion</p>
  <p><%= @book.body %></p>

<%= link_to 'Edit', edit_book_path(@book.id) %>
<%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>