<div>
  <h1>welcome to Bookers !!</h1>
    <p>In Bookers,<br>
       you can share and exchange your opinions , inpressions , and emotions<br>
       about various books!
    </p>
</div>
<div>
  <div class="text-white">
    <button type="button" class="btn btn-info" >
        <%= link_to "Log in",new_user_session_path %>
    </button>
  </div>
  <div class="bg-white">
    <button type="button" class="btn btn-success">
        <%= link_to "sign up",new_user_registration_path %>
    </button>
  </div>

</div>